.btn {
  display: inline-block;
  padding: 1em 2em;
  margin: 1em;
  min-width: 10em;
  border-radius: 4em;
  border: 5px solid $color-bg-primary;
  background-color: $color-bg-secondary;
  color: $font-color;
  // font-family: $font-family-secondary;
}
.btn:not([disabled]):hover,
.shopify-payment-button .shopify-payment-button__button--unbranded:not([disabled]):hover,
.btn:focus,
.shopify-payment-button .shopify-payment-button__button--unbranded:focus {
  background-color: $color-bg-primary;
  color: $font-color-hover;
}
