.site-footer {
	.list--inline {
		& > li {
			display: block;
			a {
				font-size: 1.2rem;
			}
		}
	}
}

.site-footer__icon-list {
	display: flex;
	// justify-content: flex-end;
	justify-content: flex-start;
}
