.site-footer {
	@include media-max-width($medium-down) {
		margin-top: 0;
	}

	.list--inline {
		@include media-max-width($medium-down) {
			justify-content: center;
		}

		& > li {
			display: block;
			a {
				font-size: 1.2rem;
			}
		}
	}

	.site-footer__item {
		@include media-max-width($medium-down) {
			margin-bottom: 20px;
		}
	}

	.site-footer__linklist-item {
		@include media-max-width($medium-down) {
			padding: 8px 0;
		}
	}

	.site-footer__copyright-content {
		@include media-max-width($medium-down) {
			font-size: 0.85rem;
		}
	}
}

//ul
.site-footer__icon-list {
	display: flex;
	justify-content: flex-end;

	// li
	.social-icons__item {
		padding: 0 12px;
	}
	// a
	.social-icons__link {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}
