.site-footer {
	.list--inline {
		& > li {
			display: block;
			a {
				font-size: 1.2rem;
			}
		}
	}
}

//ul
.site-footer__icon-list {
	display: flex;
	justify-content: flex-end;

	// li
	.social-icons__item {
		padding: 0 12px;
	}
	// a
	.social-icons__link {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}
