.page-width.full {
  max-width: none;
}

/* Home */
.index-section-pad {
  padding-top: 55px;
  padding-bottom: 55px;
}

.adornment-rect {
  display: inline-block;
  // height: 0.8em;
  min-width: 100px;
  letter-spacing: -0.5em;
}
