.page-width {
  &.page-width-large {
    max-width: 1500px;
  }
  &.page-width__about {
    max-width: 1600px;
  }
}

body {
  text-transform: lowercase;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  select,
  button {
    text-transform: lowercase;
  }

  &:not(.template-index) {
    .main-content {
      @include media-min-width(750px) {
        padding-top: 135px;
      }
    }
  }
}
