@mixin media-min-width($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin media-max-width($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin media-min-max-width($breakpointMin, $breakpointMax) {
  @media screen and (min-width: $breakpointMin) and (max-width: $breakpointMax) {
    @content;
  }
}

// Transitions
@mixin transition-all-ease($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -ms-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}
