// colors
$color-primary: #ebcdbd;
$color-secondary: #e573d5;
$color-thertiary: #ffff43;
$color-fourthy: #a7abf2;
$color-bg-primary: #000;
$color-bg-secondary: #d0d6d1;
$font-color: #000;
$font-color-hover: #fff;

// Breakpoints
$small-down: 319px;
$small-up: 320px;
$medium-down: 599px;
$medium-up: 600px;
$large-down: 1135px;
$large-up: 1136px;

// Custom Breakpoints
$header-desktop-up: 1200px;
$header-desktop-down: 1199px;

// Fonts
$fallback-families: Arial, Helvetica, sans-serif;

$font-family-primary: "Druk Wide Bold", $fallback-families;
$font-family-primary-regular: "Druk Wide Medium Regular", $fallback-families;
$font-family-secondary: "Blair ITC Medium", $fallback-families;
