.collection-item {
  margin-bottom: 30px;
}

.product-card__collection {
  .price-item {
    padding: 5px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.collection-banner {
  width: 100%;
  // margin-top: 30px;
}
