.collection-item {
  margin-bottom: 30px;
}

.product-card__collection {
  .price-item {
    padding: 5px 12px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.collection-banner {
  width: 100%;
  margin-top: 30px;
}



.bmf-grid.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  overflow: initial;
  margin-bottom: 0;

  // padding-left: 30px;
  // li
  .grid__item {
    padding-left: 0;
    .grid-view-item.product-card {
      margin-bottom: 0;
      height: 100%;
    }

    .product-card__image-with-placeholder-wrapper {
      height: 100%;
    }

    .grid-view-item__image-wrapper{
      max-width: none !important;
      height: 100%;
      .grid-view-item__image {
        max-width: none !important;
        max-height: none !important;
        position: initial !important;
        height: 100%;
        object-fit: cover;
      }
    }

  }
}