<div class="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="Marquee-height-section">
  <div class="marquee">
    {% for i in (1..14) -%}
    <span>
      {{ section.settings.text }}
    </span>
    {%- endfor %}
  </div>
</div>

<style>
  .marquee {
    width: 100%;
    overflow: hidden;
    background-color: #000;
    padding: 10px 0;
  }
  .marquee span {
    margin-right: 50px;
    color: #fff;
  }
</style>

{% schema %}
{
  "name": "Marquee",
  "class": "marquee-section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "Coming Soon"
    }
  ],
  "presets": [
    {
      "name": "Marquee",
      "category": "Text"
    }
  ]
}
{% endschema %}