.page-width.full {
  max-width: none;
}

/* Home */
.index-section-pad {
  padding-top: 55px;
  padding-bottom: 55px;
}

.adornment-rect {
  display: inline-block;
  min-width: 100px;
  letter-spacing: -0.5em;
}

.search-bar.drawer--top {
  height: 100% !important;
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.img-fullwidth {
  width: 100%;
}

.silhouette_container {
  position: relative;
}

.silhouette_bg_container {
  background-repeat: no-repeat;
  background-size: contain;
}

.silhouette_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: -1;
}

.page-width.page-width-large {
  max-width: 1500px;
}
.page-width.page-width__about {
  max-width: 1600px;
}

body {
  text-transform: lowercase;
}
body p,
body input,
body select,
body button {
  text-transform: lowercase;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  text-transform: uppercase;
}
@media screen and (min-width: 750px) {
  body:not(.template-index) .main-content {
    padding-top: 135px;
  }
}

.btn-round {
  display: inline-block;
  padding: 0.8em 2em;
  margin: 1em;
  min-width: 10em;
  border-radius: 4em;
  font-size: 1.3rem;
  border: 5px solid #000;
  background-color: #d0d6d1;
  color: #000;
  font-family: "Blair ITC Medium", Arial, Helvetica, sans-serif;
}
.btn-round.btn__hollow {
  background-color: transparent;
}
.btn-round.btn__big {
  font-size: 1.3rem;
  padding: 0.8em 2.6em;
  border-width: 6px;
}

.btn:not([disabled]):hover,
.shopify-payment-button .shopify-payment-button__button--unbranded:not([disabled]):hover,
.btn:focus,
.shopify-payment-button .shopify-payment-button__button--unbranded:focus {
  background-color: #000;
  color: #fff;
}

/*  Custom SVG Heading  */
.custom-heading_heading-2 {
  margin-top: 1.8em;
}

.about-us__page h1,
.about-us__page h2,
.about-us__page h3 {
  font-family: "Druk Wide Medium Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.about-us__page p {
  font-family: "Druk Wide Medium Regular", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.img-w-t .img-w-t_img-container img {
  width: 100%;
}
.img-w-t .rte p {
  word-break: break-all;
}

.imgs {
  margin-top: 50px;
}
.imgs .img-w-h__container {
  position: relative;
}
.imgs .img-w-h__container .img-w-h__heading {
  text-transform: uppercase;
}

.collection-item {
  margin-bottom: 30px;
}

.product-card__collection .price-item {
  padding: 5px 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.collection-banner {
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product_bmf.product-single .product-single__thumbnails {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 990px) {
  .product_bmf.product-single .product-single__thumbnails .product-single__thumbnails-item--large {
    flex: 0 0 35%;
  }
}
@media screen and (min-width: 750px) {
  .product_bmf.product-single .product-single__thumbnails .product-single__thumbnails-item--large {
    flex: 0 0 35%;
  }
}
.product_bmf.product-single .product-single__thumbnails .product-single__thumbnail {
  opacity: 0.5;
}
.product_bmf.product-single .product-single__thumbnails .product-single__thumbnail:not([disabled]):not(.active-thumb):hover {
  opacity: 1;
}
.product_bmf.product-single .product-single__thumbnails .product-single__thumbnail.active-thumb {
  border: 0;
  opacity: 1;
}
.product_bmf.product-single .product-single__meta {
  text-transform: uppercase;
}
.product_bmf.product-single .product-single__meta .product-single__title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
}
.product_bmf.product-single .product-single__meta .product__price .price__pricing-group {
  width: 100%;
  justify-content: center;
}
.product_bmf.product-single .product-single__meta .product__price .price-item {
  font-weight: normal;
  font-size: initial;
}
.product_bmf.product-single .product-single__meta .product-single__description {
  text-align: center;
}
.product_bmf.product-single .product-single__meta .product-single__description p {
  margin-bottom: 6px;
}
.product_bmf.product-single .product-single__meta .product-form {
  padding-top: 0;
}
.product_bmf.product-single .product-single__meta .product-form .product-form__controls-group {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.product_bmf.product-single .product-single__meta .product-form .product-form__controls-group .product-form__item .product-form__input {
  display: inline;
  width: auto;
}

header.site-header {
  position: absolute;
  top: 0;
  z-index: 999;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (max-width: 749px) {
  header.site-header {
    width: 100%;
  }
}
header.site-header.site-header--down {
  position: fixed;
  transform: translateY(-100%);
}
header.site-header.site-header--up {
  position: fixed;
  transform: translateY(0);
}
header.site-header .site-nav .site-nav__link .site-nav__label {
  text-transform: lowercase;
}
header.site-header .site-header__icons-wrapper a,
header.site-header .site-header__icons-wrapper button {
  font-size: 0.85rem;
}
header.site-header .mobile-nav--open,
header.site-header .mobile-nav--close {
  margin-right: 15px;
}

.template-index header.site-header.site-header--on-top {
  display: none;
}

.header-full-height__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.header-full-height__container a,
.header-full-height__container button {
  font-family: "Blair ITC Medium", Arial, Helvetica, sans-serif;
}
.header-full-height__container .header-full-height__logo {
  width: 60%;
  max-width: 100%;
  margin-bottom: 35px;
}
.header-full-height__container .header-full-height__logo img {
  width: 100%;
}
.header-full-height__container .header-full-height__toolbar {
  width: 100%;
  padding: 0 35px;
  padding-top: 35px;
}
@media screen and (min-width: 1136px) {
  .header-full-height__container .header-full-height__toolbar {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media screen and (min-width: 1136px) {
  .header-full-height__container .header-full-height__toolbar button,
.header-full-height__container .header-full-height__toolbar a {
    font-size: 1.2rem;
    padding: 12px 18px;
  }
}
.header-full-height__container .header-full-height__menu {
  width: 100%;
  padding-bottom: 35px;
}
.header-full-height__container .header-full-height__menu .h-f-h--linklist {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header-full-height__container .header-full-height__menu .h-f-h--linklist .h-f-h--linklist-item .h-f-h--linklist-link {
  text-transform: uppercase;
  font-size: 1.45rem;
}

.hero--adapt,
.hero-fixed-width__image {
  max-height: none !important;
}
@media screen and (min-width: 750px) {
  .hero--adapt,
.hero-fixed-width__image {
    max-height: none !important;
  }
}

.site-footer .list--inline > li {
  display: block;
}
.site-footer .list--inline > li a {
  font-size: 1.2rem;
}

.hero-2 {
  position: relative;
}
.hero-2 .btn__sound {
  position: absolute;
  bottom: 10%;
  left: 10%;
  border: 0;
  outline: none;
  background-color: #ffff43;
  border: 8px solid #000;
  z-index: 2;
  width: 10em;
  height: 15em;
  border-radius: 5em;
}
@media screen and (max-width: 1135px) {
  .hero-2 .btn__sound {
    width: 8em;
    height: 12em;
    border-radius: 4em;
  }
}
@media screen and (max-width: 599px) {
  .hero-2 .btn__sound {
    width: 5em;
    height: 7.5em;
    border-radius: 2.5em;
  }
}

.image-bar-svg .image-bar__heading {
  border-bottom: 15px solid #000;
}
.image-bar-svg .image-bar__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-bar-svg .image-bar__content img {
  max-height: 100%;
}

.super-heading .super-heading__h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
