.page-width.full {
  max-width: none;
}

/* Home */
.index-section-pad {
  padding-top: 55px;
  padding-bottom: 55px;
}

.adornment-rect {
  display: inline-block;
  min-width: 100px;
  letter-spacing: -0.5em;
}

.page-width.page-width-large {
  max-width: 1500px;
}

.btn {
  display: inline-block;
  padding: 0.8em 2em;
  margin: 1em;
  min-width: 10em;
  border-radius: 4em;
  font-size: 1.3rem;
  border: 5px solid #000;
  background-color: #d0d6d1;
  color: #000;
  font-family: "Blair ITC Medium", Arial, Helvetica, sans-serif;
}
.btn.btn__hollow {
  background-color: transparent;
}
.btn.btn__big {
  font-size: 1.3rem;
  padding: 0.8em 2.6em;
  border-width: 6px;
}

.btn:not([disabled]):hover,
.shopify-payment-button .shopify-payment-button__button--unbranded:not([disabled]):hover,
.btn:focus,
.shopify-payment-button .shopify-payment-button__button--unbranded:focus {
  background-color: #000;
  color: #fff;
}

/*  Custom SVG Heading  */
.custom-heading_heading-2 {
  margin-top: 1.8em;
}

header.site-header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: none;
}

.header-full-height__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.header-full-height__container .header-full-height__logo {
  width: 60%;
  max-width: 100%;
  margin-bottom: 35px;
}
.header-full-height__container .header-full-height__logo img {
  width: 100%;
}

.hero--adapt,
.hero-fixed-width__image {
  max-height: none !important;
}
@media screen and (min-width: 750px) {
  .hero--adapt,
.hero-fixed-width__image {
    max-height: none !important;
  }
}

.hero-2 {
  position: relative;
}
.hero-2 .btn__beep {
  position: absolute;
  bottom: 10%;
  left: 10%;
  border: 0;
  outline: none;
  background: none;
  z-index: 2;
  width: 12em;
}
@media screen and (max-width: 1135px) {
  .hero-2 .btn__beep {
    width: 8em;
  }
}
@media screen and (max-width: 599px) {
  .hero-2 .btn__beep {
    width: 5em;
  }
}
.hero-2 .btn__beep img {
  width: 100%;
}

.image-bar-svg .image-bar__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-bar-svg .image-bar__content img {
  max-height: 100%;
}
