header.site-header {
  position: absolute;
  top: 0;
  z-index: 999;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
  @include media-max-width(749px) {
    width: 100%;
  }

  .h2.site-header__logo {
    @include media-max-width(1400px) {
      font-size: 0.95rem;
    }
  }

  // display: none;
  &.site-header--down {
    position: fixed;
    transform: translateY(-100%);
  }

  &.site-header--up {
    position: fixed;
    transform: translateY(0);
  }

  .site-nav {
    .site-nav__link {
      font-size: 0.85rem;
      @include media-max-width(1400px) {
        font-size: 0.8rem;
      }
      .site-nav__label {
        text-transform: lowercase;
      }
    }
  }

  .site-header__icons-wrapper {
    a,
    button {
      font-size: 0.85rem;
      @include media-max-width(1400px) {
        font-size: 0.8rem;
      }
    }
  }

  .mobile-nav--open,
  .mobile-nav--close {
    margin-right: 15px;
  }

  // Desktop Header mockup
  &.header_divided_nav {
    width: 100%;
    .site-header__mobile-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;

      &.grid:after {
        display: none;
      }
      > .grid__item {
        width: auto;
      }
      > nav.grid__item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        @include media-max-width($header-desktop-down) {
          display: none;
        }
        > ul.site-nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          > li.header_divided_nav--divider {
            margin-right: auto;
          }
        }
      }
      > .site-header__icons {
        @include media-max-width($header-desktop-down) {
          display: none;
        }
      }
      > button.site-header__icon.site-header__menu.js-mobile-nav-toggle {
        @include media-max-width($header-desktop-down) {
          display: inline-block;
          vertical-align: middle;
          padding: 10px 11px;
          margin: 0;
        }
      }
    }
  }
}

.template-index {
  header.site-header {
    &.site-header--on-top {
      display: none;
    }
  }
}
