.header-full-height__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	position: relative;

	a,
	button {
		font-family: $font-family-secondary;
		font-weight: 300;
		color: $font-color;
		&:focus,
		&:not([disabled]):hover {
			color: $font-color-hover-secondary;
		}
	}

	.header-full-height__logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		z-index: 1;

		.header-full-height__logo {
			display: block;
			width: 95%;
			max-width: 100%;
			margin-bottom: 35px;
			@include media-min-width($medium-up) {
				width: 95%;
			}
			@include media-max-width($large-down) {
				margin-bottom: 0;
				line-height: 0;
			}

			img {
				width: 100%;
			}
		}
	}

	// Toolbar
	.header-full-height__toolbar {
		width: 100%;
		padding: 0 15px;
		padding-top: 18px;
		z-index: 1;

		@include media-min-width($medium-up) {
			padding: 0 18px;
			padding-top: 20px;
		}
		@include media-min-width($large-up) {
			padding: 0 20px;
			padding-top: 25px;
		}
		@include media-min-width($xlarge-up) {
			padding: 0 35px;
			padding-top: 35px;
		}

		button,
		a {
			@include media-min-width($large-up) {
				padding: 10px 14px;
			}
			@include media-max-width($medium-down) {
				font-size: 1.25rem;
			}
			&.site-header__icon {
				// font-weight: 300;
				@include media-max-width($medium-down) {
					padding: 5px;
					&:last-child {
						margin-left: 10px;
					}
				}
			}
		}
	}

	// Menu bottom
	.header-full-height__menu {
		width: 100%;
		padding-bottom: 35px;
		z-index: 1;

		// ul
		.h-f-h--linklist {
			position: relative;
			width: 100%;
			// padding-bottom: 30px;
			list-style: none;
			display: flex;
			align-items: center;
			justify-content: space-around;
			flex-wrap: wrap;
			@include media-max-width($large-down) {
				display: none;
			}

			// li
			.h-f-h--linklist-item {
				padding: 8px 0;
				@include media-max-width($large-down) {
					margin: 0 10px;
				}
				// a
				.h-f-h--linklist-link {
					text-transform: uppercase;
					font-size: 1.3rem;
				}
			}

			&:after {
				display: none;
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				min-height: 300px;
				background-color: black;
				z-index: 1;
			}

			// @include media-min-width($large-up) {
			&:hover {
				.h-f-h--has-dropdown {
					//li
					> .h-f-h--child-linklist {
						// ul (child)
						display: block;
					}
				}
				&:after {
					display: block;
				}
			}
			// }
		}

		// ul (child)
		.h-f-h--child-linklist {
			display: none;
			position: absolute;
			left: initial;
			top: initial;
			margin-top: 8px;
			margin-left: -15px;
			z-index: 2;

			li {
				a {
					display: block;
					padding: 10px 15px;
					color: $font-color-hover;
					font-size: 1.2rem;
					@include transition-all-ease(300ms);
					&:hover {
						color: $font-color;
						background: $font-color-hover;
					}
				}
				// (has grandchild)
				&.h-f-h--has-grandchild {
					position: relative;
					// @include media-min-width($large-up) {
					&:hover {
						.h-f-h--grandchild-linklist {
							display: block;
						}
					}
					// }
				}
			}
		}
		// ul (grandchild)
		.h-f-h--grandchild-linklist {
			display: none;
			position: absolute;
			background-color: $color-bg-primary;
			left: 0;
			top: 100%;
			z-index: 3;
		}

		// Mobile menu
		&.header-full-height__menu-mobile {
			position: relative;
			padding-bottom: 0;
			// ul
			.h-f-h--linklist {
				position: static;
				width: 95%;
				margin: 0 auto;
				justify-content: space-between;
				@include media-max-width($large-down) {
					display: flex;
				}
				@include media-min-width($large-up) {
					display: none;
				}
				// li
				.h-f-h--linklist-item {
					padding: 4px 0;
					@include media-max-width($large-down) {
						margin: 0 5px;
					}
					// a
					a {
						font-size: 0.85rem;
						font-weight: 300;
						@include media-max-width($medium-down) {
							font-size: 0.7rem;
						}
					}
					.h-f-h--child-linklist {
						margin-top: 4px;
						// li {
						// 	a {
						// 	}
						// }
					}
				}
			}
		}
	}

	// coming soon
	.h-f-h--coming-soon-link {
		position: relative;
		&:before {
			content: 'coming soon...';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			padding: calc(10px + 0.2rem) 15px 10px;
			font-size: 1rem;
			color: $font-color;
			background: $font-color-hover;
			@include transition-all-ease(300ms);
			opacity: 0;
		}
		&:hover {
			&:before {
				opacity: 1;
			}
		}
	}
}

// spots
.header-full-height__spots {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;

	svg {
		position: absolute;
		&.spot-top-right {
			top: -1px;
			right: -1px;
			width: auto;
			height: 38%;
			@include media-max-width($large-down) {
				height: 30%;
			}
		}
		&.spot-bottom-left {
			bottom: -1px;
			left: -1px;
			width: auto;
			height: 75%;
			@include media-max-width($large-down) {
				height: 65%;
			}
		}
		&.spot-circle {
			bottom: 22%;
			right: 16%;
			width: auto;
			height: 20vh;
			@include media-max-width($large-down) {
				bottom: 10%;
				right: 8%;
				height: 26vh;
			}
		}
	}
}
