.hero_new_2 {
  .hero-new__inner {
    position: relative;
    line-height: 0;
  }
  .hero-new__logo {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero-new__img {
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;

    &.hero-new__img--desktop {
      @include media-max-width(768px) {
        display: none;
      }
    }
    &.hero-new__img--mobile {
      @include media-min-width(769px) {
        display: none;
      }
    }
  }
  .hero-new__content {
    position: absolute;
    bottom: 1%;
    left: 1%;
    color: #fff;
    line-height: 1.5;
    font-size: 5rem;
    font-family: "Playfair Display";
    text-transform: none;
    
    @include media-max-width($xlarge-down) {
      font-size: 4rem;
    }
    @include media-max-width(768px) {
      font-size: 3rem;
    }

    span {
      color: rgb(244, 243, 173);
    }
  }
}