.pillows-spa {
  position: relative;

  .pillows-spa__bg-container {
    line-height: 0;
  }
  .pillows-spa__bg-img {
    width: 100%;
  }

  .pillows-spa__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .pillows-spa__body {
    display: flex;
  }
  .pillows-spa__content {}
  .pillows-spa__pillows {}
  .pillows-spa__footer {
    background-color: #E5A1C1;
    width: 100%;
    height: 20%;
  }
}