<div class="difusers__page">
    {% section 'video-w-img__difusers' %}
    <br /><br />
    {% section 'video-w-img_2__difusers' %}
        <br /><br />
    {% section 'video-w-img_3__difusers' %}
</div>