.about-us__page {
  h1,
  h2,
  h3 {
    font-family: $font-family-primary;
    font-weight: bold;
  }
  p {
    font-family: $font-family-primary-regular;
    font-size: 1.2rem;
  }
}

.img-w-t {
  .img-w-t__heading {
    // text-transform: uppercase;
  }
  .img-w-t_img-container {
    img {
      width: 100%;
    }
  }
  .rte {
    p {
      word-break: break-all;
    }
  }
}

.imgs {
  margin-top: 50px;

  .img-w-h__container {
    position: relative;
    .img-w-h__heading {
      text-transform: uppercase;
    }
  }
}
