.trade-application-page {
  background-color: #4A3B8E;
  color: #E8A7C9;
  padding-bottom: 50px;
  
  input {
    background-color: #25234F;
    border-color: #25234F;
    color: #E8A7C9;
  }
  
  input[type=submit] {
    background-color: #E8A7C9;
    color: #25234F;
    border: solid 2px #25234F;
    border-radius: 2px;
    letter-spacing: normal;
  }


  .form-group:nth-child(even) {
    label {
      text-align: right;
    }
  }

  input[type=submit] {
    display: block;
    color: #25234F;
    font-family: "Montserrat";
    text-transform: none;
    margin: 40px auto;
  }
  
}