.trade-application-page {
  background-color: #4A3B8E;
  color: #E8A7C9;
  padding-bottom: 50px;
  position: relative;
  
  input {
    background-color: #25234F;
    border-color: #25234F;
    color: #E8A7C9;
  }
  
  input[type=submit] {
    background-color: #E8A7C9;
    color: #25234F;
    border: solid 2px #25234F;
    border-radius: 2px;
    letter-spacing: normal;
  }


  .form-group:nth-child(even) {
    label {
      text-align: right;
    }
  }

  input[type=submit] {
    display: block;
    color: #25234F;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin: 40px auto;
  }

  .trade-form-vertical-text {
    position: absolute;
    bottom: -60px;
    width: 150px;
    right: 10vw;

    @include media-max-width($large-down) {
      bottom: -50px;
      width: 130px;
      right: 6vw;
    }
    @include media-max-width(749px) {
      display: none;
    }
  }
  
}